{% extends 'base.html' %} {% block title %}Mentions légales{% endblock %} {%
block content %}
<div class="container mt-5 text-start" style="max-width: 800px; color: black">
  <h1>Mentions légales</h1>
  <hr />
  <p><strong>Éditeur :</strong> PanierFacile</p>
  <p><strong>Forme juridique :</strong> SARL</p>
  <p><strong>Capital social :</strong> 5 000€</p>
  <p>
    <strong>Adresse :</strong> 13 voies cité de la viotte, 25000 Besançon,
    France
  </p>
  <p><strong>SIRET :</strong> 903 108 579 00025</p>
  <p><strong>Responsable de publication :</strong> Nasser MOHAMED SAID</p>

  <h2>Hébergement</h2>
  <p><strong>Hébergeur :</strong> OVH</p>
  <p><strong>Adresse :</strong> 2 rue Kellermann, 59100 Roubaix, France</p>
  <p><strong>Téléphone :</strong> +33 9 72 10 10 07</p>

  <h2>Propriété intellectuelle</h2>
  <p>
    L’ensemble des contenus présents sur PanierFacile (textes, images, logos,
    code source) est protégé par le droit d’auteur. Toute reproduction ou
    utilisation sans autorisation est interdite.
  </p>
</div>
{% endblock %}
